.abilities-section {
    border-bottom: solid 1px grey;
    border-top: solid 1px grey;
}

.abilities-section h2 {
    text-align: center;
    margin-bottom: 0;
}

.abilities-wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    margin-bottom: 2rem;
}

.abilities-wrapper span {
    text-transform: capitalize;
    cursor: pointer;
}

.abilities-wrapper span:last-child:hover {
    text-decoration: underline;
}