.hero-image {
    position: relative;
}

.main-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image img {
    max-width: 350px;
    max-height: 350px;
}

.hero-image-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    margin-top: 1rem;
}

.image {
    width: 80px;
    height: 80px;
    border: solid 1px grey;
    border-radius: 2px;
    cursor: pointer;
    background-color: white;
}

.image img {
    width: 80px;
    height: 80px;
}

.hero-image img {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .main-image {
        min-height: 360px;
    }
}

@media screen and (max-width: 768px) {
    .main-image {
        min-height: 360px;
    }
}