.flavor-text-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 2rem;
    border-top: solid 1px grey;
}

.additional-info {
    display: flex;
    justify-content: space-between;
    padding: .5rem 2rem;
    font-weight: bold;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}