.sprite-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-top: solid 1px grey;
    margin-top: 1rem;
    border-bottom: solid 2px black;
    padding: 1rem;
}