.stats-container {
    padding: 1rem;
}

.stats-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    max-width: 500px;
    margin: 0 auto;
}

.stats-wrapper .stat {
    width: 100%;
    padding: .5rem;
    background-color: #ff1f1f;
    color: white;
    text-transform: capitalize;
    border-radius: 2px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.stats-wrapper .stat:nth-child(odd) {
    background-color: white;
    color:#ff1f1f;
}