.stats-container h2 {
    text-align: center;
}

.stats-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    max-width: 500px;
    margin: 0 auto;
}

.stats-wrapper .stat {
    padding: .5rem;
    background-color: #ff1f1f;
    color: white;
    text-transform: capitalize;
    border-radius: 2px;
}