.list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}

.list-item a {
    text-transform: capitalize;
}

@media screen and (min-width: 768px) {
    .list-item {
        width: calc(25% - 8px);
    }
}

@media screen and (max-width: 768px) {
    .list-item {
        width: calc(100% - 8px);
    }
}