.popup {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.popup .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0505056b;
}

.popup.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-wrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 1rem;
    text-transform: capitalize;
    border-radius: 4px;
    box-sizing: border-box;
    border: solid 2px black;
}

.popup-wrapper h3 {
    text-transform: capitalize;
}

.popup-wrapper > span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: .5rem;
}

.popup-wrapper > span > span:first-child {
    margin-right: 12px;
}

.popup-wrapper > span:nth-child(odd) {
    background-color: white;
    color: red;
}

.close {
    color: black;
    position: absolute;
    z-index: 10;
    background-color: white;
    padding: 1rem;
    cursor: pointer;
    border: solid 2px black;
    border-radius: 4px;
}

@media screen and (min-width: 768px) {
    .close {
        top: 50px;
        right: 50px;
    }
    .popup-wrapper {
        min-width: 500px;
        max-width: 500px;
    }
}

@media screen and (max-width: 768px) {
    .close {
        top: 10px;
        right: 10px;
    }
    .popup-wrapper {
        min-width: 90%;
    }
}