.pokemon-list-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.button-container {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.button-container button {
    padding: 1rem 2rem;
    color: white;
    background-color: #284B63;
}