.header {
    width: 100%;
    min-height: 100px;
    background-color: #ff1f1f;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
    z-index: 1000;
    border-bottom: solid 4px black;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 12px;
}

.header ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.header-shape {
    position: absolute;
    left: 50px;
    top: 0px;
    height: 0px;
    width: 0px;
    z-index: -1;
}

.background {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    height: 110px;
    width: 100%;
}

.logo {
    position: relative;
    width: 150px;
    height: 60px;
}

.header nav {
    display: flex;
    align-items: center;
    gap: 12px;
}

@media screen and (min-width: 768px) {
    .header {
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {
    .header {
        justify-content: center;
    }
}